<?xml version="1.0" encoding="UTF-8"?>
<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>PedAccessAddIn</Name>
  <AddInID>default</AddInID>
  <Description></Description>
  <Version>1.0</Version>
  <Image></Image>
  <Author>Sergio Ordonez</Author>
  <Company>FCL</Company>
  <Date>Thu Aug 21 12:38:28 SGT 2014</Date>
  <Targets>
    <Target name="Desktop" version="10.2"/>
  </Targets>
  <AddIn language="JAVA" library="PedAccessAddIn.jar">
    <ArcMap>
      <Commands>
        <Button caption="Prepare" category="Pedestrian accessibility" class="PrepareButton" id="buttonPr"/>
        <Button caption="Parameters" category="Pedestrian accessibility" class="ParametersButton" id="buttonPa"/>
        <Button caption="Calculate" category="Pedestrian accessibility" class="CalculateButton" id="buttonCa"/>
        <Button caption="Batch calc" category="Pedestrian accessibility" class="CalculateBulkButton" id="buttonCaBu"/>
      </Commands>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>